@import 'components/colors';
@import 'components/fonts';


header {
  display: flex;
  background-color: $color-background-header;
}

.logo {
  width: 50%;
  font-family: $font1;
  font-size: 30px;
  color: $color-text-in-header;
  margin: 1% 1%;
}

.menu {
  width: 50%;
  margin: 1% 1%;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  font-family: $font1;
  color: $color-text-in-header;
  font-size: 14px;
  padding-top: 2%;
  &:hover {
    color: $color-accent-in-header;
  }
}

main {
  display: flex;
  align-items: flex-start;
}

aside {
  width: 25%;
  margin-top: 2%;
}

.aside-menu {
  margin: 1.5% 9% 1.5% 7%;
  font-family: $font1;
  font-size: 14px;
  border-bottom: 1px solid $color-border-bottom;
  &:first-child {
    color: $color-background-header;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
  }
}

article {
  width: 75%;
  margin-top: 0.5%;
  margin-bottom: 3%;
}

.header-in-article {
  font-family: $font1;
  color: $color-background-header;
  font-size: 20px;
}

.picture {
  float: right;
  margin-left: 3%;
  margin-right: 4%;
}

.text {
  margin-right: 4%;
  font-family: $font1;
  font-size: 14px;
}

.footer1 {
  display: flex;
  background-color: $color-background-footer1;
}

.user-contact {
  width: 35%;
  padding: 1.4% 1.4%;
}

.label-for-input {
  font-family: $font1;
  font-size: 18px;
  font-weight: bold;
  color: $color-text-in-footer;
}

.email-input {
  font-family: $font1;
  font-size: 12px;
  font-style: italic;
  color: $color-text-in-footer;
  margin-top: 3%;
  padding: 2% 22% 2% 2%;
  background: $color_background-footer2 url(./img/mail.png) no-repeat center right;
  border: 1px $color_background-footer2;
}

.our-twitter {
  width: 65%;
}

.icon {
  float: left;
  margin: 0 2% 2% 0;
}

.header-about-tweets {
  font-family: $font1;
  font-size: 18px;
  font-weight: bold;
  color: $color-text-in-footer;
}

.text-about-tweets {
  font-family: $font1;
  font-size: 12px;
  font-style: italic;
  line-height: 2.5;
  color: $color-text-in-footer;
}

.footer2 {
  display: flex;
  background-color: $color_background-footer2;
  justify-content: space-between;
}

.rights {
  color: $color-text-in-footer;
  font-family: $font1;
  font-size: 12px;
  margin-left: 2%;
}

.menu2 {
  display: flex;
  padding-right: 3%;
  width: 27%;
  justify-content: space-around;
}

.footer-menu {
  color: $color-text-in-footer;
  font-family: $font1;
  font-size: 12px;
  padding-top: 3.5%;
}