$color-background-header: #7b8a1a;
$color-text-in-header: #ffffff;
$color-accent-in-header: #c0d923;
$color-border-bottom: #D3D3D3;
$color-background-footer1: #333421;
$color-text-in-footer: #eff0b8;
$color_background-footer2: #0a0b05;